.container {
  display: flex;
  height: fit-content;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container > h2 {
  margin: 20px;
}

.container > button {
  padding: 5px 10px;
  margin: 10px;
}

.container > input {
  padding: 5px 10px;
  margin: 10px;
  width: 20%;
  text-align: center;
}

.userList {
  padding: 10px;
  margin: 5px;
}
